
@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>
<h1>Are you sure to remove?</h1>
<input type="text" name="Id" value="User Id: @Model.Id" disabled class="form-control text-center" />
<input type="text" name="Name" value="Name: @Model.Name" disabled class="form-control text-center mt-2" />
<input type="text" name="Cgpa" value="Cgpa: @Model.Cgpa" disabled class="form-control text-center mt-2" />

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Yes" name="decision" class="btn btn-danger mt-2" />
    <input type="submit" value="No" name="decision" class="btn btn-success mt-2" />
</form>